html
	head
		title Timestamp microservice
		link(rel='stylesheet' href='semantic.css')
		link(rel='stylesheet' href='style.css')
	body
		div.ui.container
			h1.ui.header FreeCodeCamp API Basejump: URL Shortener Microservice
			div.user-story
				h3.ui.header User stories:
				ol
					li I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
					li When I visit that shortened URL, it will redirect me to my original link.

			h2 Example creation usage:
			code https://sg-url-shortner.herokuapp.com/new/https://www.google.com
			br
			code https://sg-url-shortner.herokuapp.com/new/http://foo.com:80

			h2 Example creation output:
			code { "original_url":"https://www.google.com", "short_url":"sg-url-shortner.herokuapp.com/sdWEd" }

			h2 Usage:
			code https://sg-url-shortner.herokuapp.com/sdWEd

			h2 Will redirect to:
			code https://www.google.com
